@import './mixins.scss';
@import './variables.scss';

@font-face {
  font-family: 'Barlow bold';
  src: url(../fonts/Barlow/Barlow-Bold.ttf);
}

@font-face {
  font-family: 'Barlow Extrabold';
  src: url(../fonts/Barlow/Barlow-ExtraBold.ttf);
}

@font-face {
  font-family: 'Varela';
  src: url(../fonts/Varela/Varela-Regular.ttf);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  color: #f33a3b;
}

li {
  list-style-type: none;
}

body {
  padding: 5rem;
  background: #f33a3b;
}

#app {
  background: #f7ede3;
  border: 3px solid #1f1d1d;
  width: 100%;
  height: 100;
}
.header {
  @include d-flex(space-around, center);

  .logo {
    width: 150px;
    margin-left: 5%;
  }

  .nav-wrapper {
    @include d-flex(space-evenly, center);
    gap: 2rem;
    margin-right: 15rem;
    margin-top: 1rem;
    font-family: 'varela';
    font-size: 20px;
    text-transform: uppercase;
    color: #1f1d1d;
  }
  .input {
    font-family: 'varela';
    font-size: 15px;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid #e0d5c9;
    width: 70%;
    background: inherit;
  }

  .icons,
  .input__icons {
    width: 20px;
  }

  .icons-wrapper {
    display: flex;
    gap: 40px;
  }
}

.main {
  @include d-flex(space-between, center);
  margin-top: 4rem;

  &__title {
    font-size: 70px;
    font-family: 'barlow extrabold';
    color: #f33a3b;
    margin-left: 11%;
    text-transform: uppercase;
  }
  &__sub-title {
    position: relative;
    left: 20.5%;
    font-size: 70px;
    font-family: 'barlow extrabold';
    color: #f33a3b;
    text-transform: uppercase;
  }
  &__paragraph-wrapper {
    margin-top: 2rem;
    margin-left: 21%;
    font-family: 'varela';
    font-size: 15px;
    color: #1f1d1d;
  }

  &__paragraph {
    word-break: normal;
    width: 62%;
  }
  .button {
    padding: 0.5rem;
    width: 7rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    background: inherit;
    color: #f33a3b;
    border: 2px solid #f33a3b;
    font-family: 'barlow extrabold';
    font-size: 15px;
    text-transform: uppercase;
  }

  .card {
    background: #e0d5c9;
    padding: 1%;
    text-align: center;
    position: relative;
    top: 5rem;
    left: -9.5%;
    font-family: 'varela';
    width: 40%;
    color: #1f1d1d;
    border-radius: 20px;

    &__paragraph-wrapper {
      padding: 1rem;
      text-align: left;
      margin-left: 1.5rem;
      font-size: 100%;
    }

    &__model-name {
      margin-top: 1rem;
    }
  }

  &__img {
    position: relative;

    left: -32%;
    width: 100%;

    border-radius: 3rem;
  }

  &__secondary__img {
    width: 200px;
    border-radius: 2rem;
  }
}

.section-banner {
  .banner-wrapper {
    @include d-flex(center, center);
    margin-top: 5rem;
    gap: 3rem;
    margin-bottom: 10rem;

    .banner {
      width: 40%;
      margin-left: 1rem;
      border-radius: 3rem;
    }
    .sub-banner {
      width: 40%;
      border-radius: 3rem;
    }
  }

  .banner__title-wrapper {
    @include d-flex(space-between, center);
    .banner__title {
      position: relative;
      left: 10%;
      top: 4rem;
      font-family: 'barlow extrabold';
      font-size: 70px;
      color: #f33a3b;
      word-break: normal;
      width: 20%;
      text-transform: uppercase;
    }
    .banner__sub-title-wrapper {
      width: 40%;
      margin-right: 5%;

      .banner__sub-title {
        font-family: 'barlow bold';
        font-size: 60px;
        color: #f33a3b;
        text-transform: uppercase;
      }
      .banner__paragraph {
        width: 90%;
        text-align: left;
        font-family: 'varela';
        font-size: 20px;
        margin-top: 3%;
        color: #1f1d1d;
      }
    }
  }
}

.sub__main {
  &-wrapper {
    @include d-flex(start, center);
    margin-left: 9%;
    gap: 2%;
    margin-bottom: 1%;
  }

  &__img {
    width: 30%;
    border-radius: 2rem;
  }
  &__second-img {
    margin-top: 25%;
    width: 20%;
    border-radius: 1rem;
  }

  &__title-wrapper {
    width: 35%;
    margin-left: 2%;
    margin-bottom: 10%;
  }
  &__title,
  &__sub-title {
    margin-bottom: 5%;
    font-family: 'barlow bold';
    text-transform: uppercase;
    font-size: 35px;
    color: #f33a3b;
  }

  &__paragraph {
    margin-bottom: 5%;
    font-family: 'varela';
    font-size: 16px;
    color: #1f1d1d;
  }
}

.sub__section {
  @include d-flex(space-between, center);

  &__paragraph-wrapper {
    margin-left: 5%;
    margin-top: 10%;
  }
  &__title-primary {
    font-size: 50px;
    font-family: 'barlow extrabold';
    color: #1f1d1d;
    margin-left: 5%;
    text-transform: uppercase;
  }
  &__title-secondary {
    margin-left: 25%;
    font-size: 50px;
    font-family: 'barlow extrabold';
    color: #1f1d1d;
    text-transform: uppercase;
  }
  &__title-third {
    margin-left: 11%;
    margin-bottom: 10%;
    font-size: 50px;
    font-family: 'barlow extrabold';
    color: #1f1d1d;
    text-transform: uppercase;
  }
  &__paragraph__title {
    margin-left: 11%;
    margin-bottom: 1%;
    font-family: 'barlow bold';
    font-size: 30px;
    text-transform: uppercase;
    color: #f33a3b;
  }

  &__paragraph {
    width: 57%;
    margin-left: 11%;
    font-family: 'varela';
    color: #1f1d1d;
  }

  &__paragraph__primary-img {
    position: relative;
    top: -9rem;
    border-radius: 3rem;
    width: 30%;
    margin-left: 10%;
  }
  &__paragraph__secondary-img {
    width: 40%;
    margin-top: 15%;
    border-radius: 3rem;
    margin-left: 5%;
  }

  &__img {
    width: 70%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 3rem;
  }
}

.section__sub__banner {
  .section__sub__banner-wrapper {
    background-image: url('../images/Rudolf-dasler.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3rem;
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 700px;
  }

  &__title {
    position: relative;
    top: 3rem;
    width: 40%;
    font-size: 70px;
    font-family: 'barlow extrabold';
    color: #f7ede3;
    margin-left: 5%;
    text-transform: uppercase;
  }
  &__paragraph {
    position: relative;
    top: 20rem;
    margin-left: 5%;
    width: 30%;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'barlow bold';
    color: #f7ede3;
  }

  &__sub-wrapper {
    @include d-flex(space-between, start);
    margin-top: 10%;
    margin-left: 12%;
    width: 73%;
  }

  &__sub-title {
    position: relative;
    top: -3rem;
    left: 5rem;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'barlow bold';
    color: #f33a3b;
  }
  &__sub-paragraph {
    font-family: 'varela';
    font-size: 15px;
    color: #1f1d1d;
  }
  .section__paragraph {
    @include d-flex(center, center);
    margin-top: 10%;
    gap: 10rem;
    &__wrapper {
      width: 50%;
    }

    &__img {
      width: 30%;
      border-radius: 3rem;
      margin-left: 10%;
    }

    &__title-primary,
    &__title-secondary,
    &__title-third {
      font-size: 50px;
      text-transform: uppercase;
      font-family: 'barlow extrabold';
      color: #1f1d1d;
      margin-right: 15%;
    }

    &__title-secondary {
      text-align: center;
    }
    &__title-third {
      text-align: right;
    }

    &__label-wrapper {
      margin-left: 10%;
    }
    &__label__title {
      text-align: start;
      margin-top: 10%;
      font-size: 30px;
      font-family: 'barlow bold';
      text-transform: uppercase;
      color: #f33a3b;
    }
    &__label {
      text-align: start;
      margin-top: 2%;
      width: 60%;
      font-family: 'varela';
      font-size: 15px;
    }
    &__label-img {
      margin-top: 10%;
      width: 30rem;
      height: 20rem;
      border-radius: 2rem;
    }
  }
}
