@import './variables.scss';

@import './mixins.scss';

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}
a:focus {
  color: $third-color;
}
a:hover {
  border: 2px solid $third-color;
  background: $third-color;
  color: $secondary-color;
  border-radius: 1rem;

  transition: padding 2s ease-out 100ms;
}

li {
  list-style-type: none;
}

body {
  padding: 5rem;
  background: $third-color;
  overflow-x: hidden;
}

#app {
  background: $main-color;
  border: 3px solid$fourth-color;
  width: 100%;
  position: relative;
}
.header {
  @include d-flex(space-around, center);

  .logo {
    width: 150px;
    margin-left: $margin-xs;
  }

  .nav-wrapper {
    @include d-flex(space-evenly, center);
    gap: 2rem;
    margin-right: 15rem;
    margin-top: 1rem;
    font-family: $ff-varela;
    font-size: $fs-s;
    text-transform: uppercase;
    color: $fourth-color;
  }
  .input {
    font-family: $ff-varela;
    font-size: $fs-xs;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid $secondary-color;
    width: 70%;
    background: inherit;
  }

  .icons,
  .input__icons {
    width: 20px;
  }

  .icons-wrapper {
    display: flex;
    gap: 40px;
  }
}

.main {
  @include d-flex(space-between, center);
  margin-top: 4rem;

  &__title {
    font-size: $fs-xxl;
    font-family: $ff-barlow-extrabold;
    color: $third-color;
    margin-left: 11%;
    text-transform: uppercase;
  }
  &__sub-title {
    position: relative;
    left: 20.5%;
    font-size: $fs-xxl;
    font-family: $ff-barlow-extrabold;
    color: $third-color;
    text-transform: uppercase;
  }
  &__paragraph-wrapper {
    margin-top: 2rem;
    margin-left: 21%;
    font-family: $ff-varela;
    font-size: $fs-xs;
    color: $fourth-color;
  }

  &__paragraph {
    word-break: normal;
    width: 62%;
  }
  .button {
    padding: 0.5rem;
    width: 7rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    background: inherit;
    color: $third-color;
    border: 2px solid $third-color;
    font-family: $ff-barlow-extrabold;
    font-size: $fs-xs;
    text-transform: uppercase;
  }

  .button:hover {
    border: 2px solid $third-color;
    background: $third-color;
    color: $secondary-color;

    transition: padding 2s ease-out 100ms;
  }

  .card {
    background: $secondary-color;
    padding: 1%;
    text-align: center;
    position: relative;
    top: 5rem;
    left: -9.5%;
    font-family: $ff-varela;
    width: 40%;
    color: $fourth-color;
    border-radius: 20px;

    &__paragraph-wrapper {
      padding: 1rem;
      text-align: left;
      margin-left: 1.5rem;
      font-size: 100%;
    }

    &__model-name {
      margin-top: 1rem;
    }
  }

  &__img {
    position: relative;

    left: -32%;
    width: 100%;

    border-radius: 3rem;
  }

  &__secondary__img {
    width: 200px;
    border-radius: 2rem;
  }
}

.section-banner {
  .banner-wrapper {
    @include d-flex(center, center);
    margin-top: 5rem;
    gap: 3rem;
    margin-bottom: 10rem;

    .banner {
      width: 40%;
      margin-left: 1rem;
      border-radius: 3rem;
    }
    .sub-banner {
      width: 40%;
      border-radius: 3rem;
    }
  }

  .banner__title-wrapper {
    @include d-flex(space-between, center);
    .banner__title {
      position: relative;
      left: $margin-s;
      top: 4rem;
      font-family: $ff-barlow-extrabold;
      font-size: $fs-xxl;
      color: $third-color;
      word-break: normal;
      width: 20%;
      text-transform: uppercase;
    }
    .banner__sub-title-wrapper {
      width: 40%;
      margin-right: $margin-xs;

      .banner__sub-title {
        font-family: $ff-barlow-extrabold;
        font-size: 60px;
        color: $third-color;
        text-transform: uppercase;
      }
      .banner__paragraph {
        width: 90%;
        text-align: left;
        font-family: $ff-varela;
        font-size: $fs-s;
        margin-top: 3%;
        color: $fourth-color;
      }
    }
  }
}

.sub__main {
  &-wrapper {
    @include d-flex(start, center);
    margin-left: 9%;
    gap: 2%;
    margin-bottom: 1%;
  }

  &__img {
    width: 30%;
    border-radius: 2rem;
  }
  &__second-img {
    margin-top: $margin-l;
    width: 20%;
    border-radius: 1rem;
  }

  &__title-wrapper {
    width: 35%;
    margin-left: 2%;
    margin-bottom: $margin-s;
  }
  &__title,
  &__sub-title {
    margin-bottom: $margin-xs;
    font-family: $ff-barlow-extrabold;
    text-transform: uppercase;
    font-size: 35px;
    color: $third-color;
  }

  &__paragraph {
    margin-bottom: $margin-xs;
    font-family: $ff-varela;
    font-size: 16px;
    color: $fourth-color;
  }
}

.sub__section {
  @include d-flex(space-between, center);

  &__paragraph-wrapper {
    margin-left: $margin-xs;
    margin-top: $margin-s;
  }
  &__title-primary {
    font-size: $fs-xl;
    font-family: $ff-barlow-extrabold;
    color: $fourth-color;
    margin-left: $margin-xs;
    text-transform: uppercase;
  }
  &__title-secondary {
    margin-left: $margin-l;
    font-size: $fs-xl;
    font-family: $ff-barlow-extrabold;
    color: $fourth-color;
    text-transform: uppercase;
  }
  &__title-third {
    margin-left: 11%;
    margin-bottom: $margin-s;
    font-size: $fs-xl;
    font-family: $ff-barlow-extrabold;
    color: $fourth-color;
    text-transform: uppercase;
  }
  &__paragraph__title {
    margin-left: 11%;
    margin-bottom: 1%;
    font-family: $ff-barlow-extrabold;
    font-size: $fs-l;
    text-transform: uppercase;
    color: $third-color;
  }

  &__paragraph {
    width: 57%;
    margin-left: 11%;
    font-family: $ff-varela;
    color: $fourth-color;
  }

  &__paragraph__primary-img {
    position: relative;
    top: -9rem;
    border-radius: 3rem;
    width: 30%;
    margin-left: $margin-s;
  }
  &__paragraph__secondary-img {
    width: 40%;
    margin-top: $margin-m;
    border-radius: 3rem;
    margin-left: $margin-xs;
  }

  &__img {
    width: 70%;
    margin-left: $margin-s;
    margin-top: $margin-xs;
    margin-bottom: $margin-s;
    border-radius: 3rem;
  }
}

.section__sub__banner {
  .section__sub__banner-wrapper {
    background-image: url('../images/Rudolf-dasler.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3rem;
    margin-top: $margin-s;
    margin-left: $margin-s;
    width: 80%;
    height: 700px;
  }

  &__title {
    position: relative;
    top: 3rem;
    width: 40%;
    font-size: $fs-xxl;
    font-family: $ff-barlow-extrabold;
    color: $main-color;
    margin-left: $margin-xs;
    text-transform: uppercase;
  }
  &__paragraph {
    position: relative;
    top: 20rem;
    margin-left: $margin-xs;
    width: 30%;
    font-size: $fs-s;
    text-transform: uppercase;
    font-family: $ff-barlow-extrabold;
    color: $main-color;
  }

  &__sub-wrapper {
    @include d-flex(space-between, start);
    margin-top: $margin-s;
    margin-left: 12%;
    width: 73%;
  }

  &__sub-title {
    position: relative;
    top: -3rem;
    left: 5rem;
    font-size: $fs-m;
    text-transform: uppercase;
    font-family: $ff-barlow-extrabold;
    color: $third-color;
  }
  &__sub-paragraph {
    font-family: $ff-varela;
    font-size: $fs-xs;
    color: $fourth-color;
  }
  .section__paragraph {
    @include d-flex(center, center);
    margin-top: $margin-s;
    gap: 10rem;
    &__wrapper {
      width: 50%;
    }

    &__img {
      width: 30%;
      border-radius: 3rem;
      margin-left: $margin-s;
    }

    &__title-primary,
    &__title-secondary,
    &__title-third {
      font-size: $fs-xl;
      text-transform: uppercase;
      font-family: $ff-barlow-extrabold;
      color: $fourth-color;
      margin-right: $margin-xs;
    }

    &__title-secondary {
      text-align: center;
    }
    &__title-third {
      text-align: right;
    }

    &__label-wrapper {
      margin-left: $margin-s;
    }
    &__label__title {
      text-align: start;
      margin-top: $margin-s;
      font-size: $fs-m;
      font-family: $ff-barlow-extrabold;
      text-transform: uppercase;
      color: $third-color;
    }
    &__label {
      text-align: start;
      margin-top: 2%;
      width: 60%;
      font-family: $ff-varela;
      font-size: $fs-xs;
    }
    &__label-img {
      margin-top: $margin-s;
      width: 60%;
      border-radius: 2rem;
    }
  }
}

.footer {
  @include grid-sys(1, 4);
  margin-top: $margin-xs;
  border-top: 2px solid $secondary-color;
  margin-left: $margin-xs;
  margin-right: $margin-xs;
  margin-bottom: $margin-xs;

  &__column-wrapper {
    margin-top: $margin-s;
    line-height: 2rem;
    padding: 1rem;
    font-family: $ff-varela;
    font-size: $fs-xs;
    color: $fourth-color;
  }
}

@keyframes mymove {
  0% {
    top: 50px;
  }
  25% {
    top: 150px;
  }
  75% {
    top: 100px;
  }
  100% {
    top: 50px;
  }
}
